@{
    ViewData["Title"] = "About";
}
@*<h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>*@
<h2 class="text-center">Net Core With Docker</h2>
<br />
<h3>This is a aplication using ASP.NET Core with Docker</h3>

<br />
<p>
    This application was developed by Maximiliano Flores, as an exam for SouthWorks. <br />
    <br />
    I am a systems professional received from the National Technological University - FRC. in the year 2013.
    I started working in 2012. I consider myself an enthusiastic professional for of technology and eager to learn
    new technologies and the work environment.
</p>
