@{
    ViewData["Title"] = "About";
}
@*<h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>*@
<h2 class="text-center">Net Core With Docker</h2>
<br />
<h3>This is a aplication using ASP.NET Core with Docker</h3>

<br />
<p>
    This application was developed by Maximiliano Flores, as an exam for SouthWorks. <br />
    <br />
    @Html.Partial("DescriptionAbout")
</p>
