@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

@*<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>*@

<address>
    <strong>Support:</strong> <a href="mailto:maxir_flores@hotmail.com">maxir_flores@hotmail.com</a><br />
    <strong>Linkedin:</strong> <a href="https://www.linkedin.com/in/maximiliano-flores-5b281830/" target="_blank">Maximiliano Flores</a>
</address>
